@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

a {
  text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
  font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}

q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
  font-family: arial,helvetica;
  color: #333;
  color: rgba(0,0,0,0.5);
}

.wrap{
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}

h1{
  font: bold 2em Sans-Serif;
  margin: 0 auto;
  color: #f47321;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}

p{
  font-size: 1em;
  margin: 0 auto;
  line-height: 1.3em;
  text-align: left;
  color: #fff;
  font-weight: normal;
}

p a:link {
  color: #f87f32;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

p a:visited {
  color: #f87f32;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

p a:hover {
  color: #e35b2e;
}

.section{
  text-align:left;
}

.slicknav_menu {
  display:none;
}

.clearfix {
  *zoom: 1;
}

/*Smartphones (Portrait)*/

@media screen and (min-width: 200px) {

  #footer{
    display:none;
  }

  .fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 25px 25px 25px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 25px 0 25px 25px;
    border-color: transparent transparent transparent #fff;
}

  .slicknav_menu {
  display:block;
  position: fixed;
  z-index: 9;
  padding-top: .8em;
  padding-bottom: .8em;
  background: -webkit-linear-gradient(90deg, #135e4a 10%, #1d815b 90%,); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #135e4a 10%, #1d815b 90%); /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #135e4a 10%, #1d815b 90%); /* IE10 */
  background: -o-linear-gradient(90deg, #135e4a 10%, #1d815b 90%); /* Opera 11.10+ */
  background: linear-gradient(90deg, #135e4a 10%, #1d815b 90%); /* W3C */
  width: 100%;
  } 

  .slicknav_menu a.slicknav {
    font-size: 1.5em;
    line-height: 1.5em;
    color: #fff;
    padding-left: .5em;
  }

  .slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer; }
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em; }

  .slicknav_menu {
  *zoom: 1; }

  .slicknav_menu .slicknav_menutxt {
    display: block;
    font-size: 1em;
    line-height: 1em;
    float: left;
    color: #fff; }

  .desktop-container {
    display: none;
  }

  .mobile-container{
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 400px !important;
    height: 100%;
  }

  .mobile-img {
    display: flex;
    width: 100%;
    max-height: 100%}

  .accordion {
    position: relative;
    width: 100%;
    max-width: 400px;
    top: 49px;
   } 


  .accordion-toggle {cursor: pointer;}
  .accordion-content {display: none;}
  .accordion-content.default {display: block;}

  .accordion-toggle {
  width: 100%;
  background: #f47321; /* gradient: fall back for old browsers */
  background: -webkit-linear-gradient(to left, #f28e4e , #f47321); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f28e4e , #f47321); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
  }

  h4.accordion-toggle {
    font-size: 1.5em;
    font-family: Arial, Sans-Serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5em .5em .5em;
    color: #fff;
    width: 100%;
    max-width: 400px;
    position: relative;
    display: inline-block;
  }

  .arrow {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    
    border-left: 10px solid #fff;
    margin-right: .4em;
    display: inline-block;
  } 

  .accordion-content {
    width: 100%;
    max-width: 400px;
    background-color: #363636;
  }

  p.mobile-text {
    font-size: 1.2em;
    font-family: Arial, Sans-Serif;
    color: #fff;
    padding: 1em 1em 1em;
  }

  #section0{
     background-image: url("../img/main-miami-1-mobile.jpg");
  }

/*CAMPUS START*/

  #slidea1{
    background-image: url("../img/um-1-mobile.jpg");
    background-size: cover;
  }

  #slidea2{
    background-image: url("../img/u-sculpture-mobile.jpg");
    background-size: cover;
  }

  #slidea3{
    background-image: url("../img/um-3-mobile.jpg");
    background-size: cover;
  }

  #slidea4{
    background-image: url("../img/um-4-mobile.jpg");
    background-size: cover;
  }

  #slidea5{
    background-image: url("../img/um-5-mobile.jpg");
    background-size: cover;
  }

  #slidea6{
    background-image: url("../img/um-6-mobile.jpg");
    background-size: cover;
  }

  #slidea7{
    background-image: url("../img/um-7-mobile.jpg");
    background-size: cover;
  }

  #slidea8{
    background-image: url("../img/um-8-mobile.jpg");
    background-size: cover;
  }

  #slidea9{
    background-image: url("../img/um-9-mobile.jpg");
    background-size: cover;
  }

  #slidea10{
    background-image: url("../img/um-10-mobile.jpg");
    background-size: cover;
  }

  #slidea11{
    background-image: url("../img/um-11-mobile.jpg");
    background-size: cover;
  }

  #slidea12{
    background-image: url("../img/um-12-mobile.jpg");
    background-size: cover;
  }

  #slidea13{
    background-image: url("../img/um-13-mobile.jpg");
    background-size: cover;
  }

  #slidea14{
    background-image: url("../img/um-14-mobile.jpg");
    background-size: cover;
  }

  #slidea15{
    background-image: url("../img/um-15-mobile.jpg");
    background-size: cover;
  }

  #slidea16{
    background-image: url("../img/um-16-mobile.jpg");
    background-size: cover;
  }

  #slidea17{
    background-image: url("../img/um-17-mobile.jpg");
    background-size: cover;
  }

  #slidea18{
    background-image: url("../img/um-18-mobile.jpg");
    background-size: cover;
  }

  #slidea19{
    background-image: url("../img/um-19-mobile.jpg");
    background-size: cover;
  }

  #slidea20{
    background-image: url("../img/um-20-mobile.jpg");
    background-size: cover;
  }

  #slidea21{
    background-image: url("../img/um-21-mobile.jpg");
    background-size: cover;
  }

  #slidea22{
    background-image: url("../img/um-22-mobile.jpg");
    background-size: cover;
  }

  #slidea23{
    background-image: url("../img/um-23-mobile.jpg");
    background-size: cover;
  }

  #slidea24{
    background-image: url("../img/um-24-mobile.jpg");
    background-size: cover;
  }

  #slidea25{
    background-image: url("../img/um-25-mobile.jpg");
    background-size: cover;
  }

/*CAMPUS END*/

/* LAW SCHOOL START */

  #slideb1{
    background-image: url("../img/campus-1-mobile.jpg");
    background-size: cover; 
  }
  #slideb2{
    background-image: url("../img/campus-2-mobile.jpg");
    background-size: cover;  
  }

  #slideb3{
    background-image: url("../img/campus-3-mobile.jpg");
    background-size: cover; 
  }
  #slideb4{
    background-image: url("../img/campus-4-mobile.jpg");
    background-size: cover; 
  }

  #slideb5{
    background-image: url("../img/campus-5-mobile.jpg");
    background-size: cover; 
  }
  #slideb6{
    background-image: url("../img/campus-6-mobile.jpg");
    background-size: cover; 
  }

  #slideb7{
    background-image: url("../img/campus-7-mobile.jpg");
    background-size: cover; 
  }
  #slideb8{
    background-image: url("../img/campus-8-mobile.jpg");
    background-size: cover;
  }
  #slideb9{
    background-image: url("../img/campus-9-mobile.jpg");
    background-size: cover;
  }
  #slideb10{
    background-image: url("../img/campus-clinton-mobile.jpg");
    background-size: cover;
  }
  #slideb11{
    background-image: url("../img/campus-10-mobile.jpg");
    background-size: cover;
  }
  #slideb12{
    background-image: url("../img/campus-env-mobile.jpg");
    background-size: cover; 
  }
  #slideb13{
    background-image: url("../img/campus-11-mobile.jpg");
    background-size: cover; 
  }
  #slideb14{
    background-image: url("../img/campus-health-mobile.jpg");
    background-size: cover;
  }
  #slideb15{
    background-image: url("../img/campus-12-mobile.jpg");
    background-size: cover;
  }
  #slideb16{
    background-image: url("../img/campus-13-mobile.jpg");
    background-size: cover;
  }
  #slideb17{
    background-image: url("../img/campus-14-mobile.jpg");
    background-size: cover;
  }
  #slideb18{
    background-image: url("../img/campus-15-mobile.jpg");
    background-size: cover;
  }
  #slideb19{
    background-image: url("../img/campus-19-mobile.jpg");
    background-size: cover;
  }
 

/* LAW SCHOOL END */

/* Start Neighborhood Section*/

  #slidec1{
    background-image: url("../img/neighborhood-1-mobile.jpg");
    background-size: cover;
  }
  #slidec2{
    background-image: url("../img/neighborhood-2-mobile.jpg");
    background-size: cover;
  }

  #slidec3{
    background-image: url("../img/neighborhood-3-mobile.jpg");
    background-size: cover;
  }
  #slidec4{
    background-image: url("../img/neighborhood-4-mobile.jpg");
    background-size: cover;
  }

  #slidec5{
    background-image: url("../img/neighborhood-5-mobile.jpg");
    background-size: cover;
  }
  #slidec6{
    background-image: url("../img/neighborhood-20-mobile.jpg");
    background-size: cover;
  }

  #slidec7{
    background-image: url("../img/neighborhood-6-mobile.jpg");
    background-size: cover;
  }
  #slidec8{
    background-image: url("../img/neighborhood-7-mobile.jpg");
    background-size: cover;
  }
  #slidec9{
    background-image: url("../img/neighborhood-8-mobile.jpg");
    background-size: cover;
  }
  #slidec10{
    background-image: url("../img/neighborhood-9-mobile.jpg");
    background-size: cover;
  }
  #slidec11{
    background-image: url("../img/neighborhood-10-mobile.jpg");
    background-size: cover;
  }
  #slidec12{
    background-image: url("../img/neighborhood-11-mobile.jpg");
    background-size: cover;
  }
  #slidec13{
    background-image: url("../img/neighborhood-12-mobile.jpg");
    background-size: cover;
  }
  #slidec14{
    background-image: url("../img/neighborhood-13-mobile.jpg");
    background-size: cover;
  }
  #slidec15{
    background-image: url("../img/neighborhood-14-mobile.jpg");
    background-size: cover; 
  }

  #slidec16{
    background-image: url("../img/neighborhood-15-mobile.jpg");
    background-size: cover; 
  }

  #slidec17{
    background-image: url("../img/neighborhood-16-mobile.jpg");
    background-size: cover; 
  }

  #slidec18{
    background-image: url("../img/neighborhood-17-mobile.jpg");
    background-size: cover;  
  }

  #slidec19{
    background-image: url("../img/neighborhood-18-mobile.jpg");
    background-size: cover;   
  }

  #slidec20{
    background-image: url("../img/neighborhood-19-mobile.jpg");
    background-size: cover;  
  }

/*End Neighborhood section*/

/*SOUTH FLORIDA STARTS*/

  #slided1{
    background-image: url("../img/sfl-1-mobile.jpg");
    background-size: cover;  
  }

  #slided2{
    background-image: url("../img/sfl-2-mobile.jpg");
    background-size: cover;  
  }

  #slided3{
    background-image: url("../img/sfl-3-mobile.jpg");
    background-size: cover;   
  }

  #slided4{
    background-image: url("../img/sfl-4-mobile.jpg");
    background-size: cover;
  }

  #slided5{
    background-image: url("../img/sfl-5-mobile.jpg");
    background-size: cover;
  }

  #slided6{
    background-image: url("../img/sfl-6-mobile.jpg");
    background-size: cover;
  }

  #slided7{
    background-image: url("../img/sfl-7-mobile.jpg");
    background-size: cover;
  }

  #slided8{
    background-image: url("../img/sfl-8-mobile.jpg");
    background-size: cover;
  }

  #slided9{
    background-image: url("../img/sfl-9-mobile.jpg");
    background-size: cover;
  }

  #slided10{
    background-image: url("../img/sfl-10-mobile.jpg");
    background-size: cover;
  }

  #slided11{
    background-image: url("../img/sfl-11-mobile.jpg");
    background-size: cover;
  }

  #slided12{
    background-image: url("../img/sfl-12-mobile.jpg");
    background-size: cover;
  }

  #slided13{
    background-image: url("../img/sfl-13-mobile.jpg");
    background-size: cover;
  }

  #slided14{
    background-image: url("../img/sfl-14-mobile.jpg");
    background-size: cover;
  }

  #slided15{
    background-image: url("../img/sfl-15-mobile.jpg");
    background-size: cover;
  }

  #slided16{
    background-image: url("../img/sfl-16-mobile.jpg");
    background-size: cover;
  }

  #slided17{
    background-image: url("../img/sfl-17-mobile.jpg");
    background-size: cover;
  }

  #slided18{
    background-image: url("../img/sfl-18-mobile.jpg");
    background-size: cover;
  }

  #slided19{
    background-image: url("../img/sfl-19-mobile.jpg");
    background-size: cover;
  }

/*SOUTH FLORIDA END*/
}

/*iPad and Smaller Screens*/

@media screen and (min-width: 550px){

  .mobile-container {
    display: none;
  }

  .desktop-container {
    display: flex;
  }

  .textbox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: rgba(53,53,53,0.9);
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    align-self: flex-end;
    align-items: flex-end;
    margin-left: 35%;
    margin-right: 10%;
    margin-top: 0%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    max-height: 85%;
  }

  .textbox.left {
    margin-left: 10%;
    margin-right: 40%;
  }

  #footer{
    position:fixed;
    height: 108px;
    display:block;
    width: 100%;
    background: -webkit-linear-gradient(90deg, #135e4a 10%, #1d815b 90%,); /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #135e4a 10%, #1d815b 90%); /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #135e4a 10%, #1d815b 90%); /* IE10 */
    background: -o-linear-gradient(90deg, #135e4a 10%, #1d815b 90%); /* Opera 11.10+ */
    background: linear-gradient(90deg, #135e4a 10%, #1d815b 90%); /* W3C */
    z-index:9;
    text-align:center;
    color: #fff;
    padding: 10px 0 0 0;
    bottom:0px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center; 
  }

  .nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;   
    flex-direction: column; 
  }

  .nav li {
    display: inline;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
    border: 1px solid #fff;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    border-radius: 10px;
  }

  .nav a{
    color:#fff;
  }

  .nav li:hover{
      background-color: #f47321;
  }

  .logo {
    display: flex;
    margin-top: 10px;
    top: 10%;
    left: 82%;
  }

  .slicknav_menu {
    display:none;
  }

  #menu li.active{
  background: rgb(243,115,33);
  color: #fff;
}

  .textbox h1 {
    font-size: 3em;
    text-align: left;
    line-height: 1em;
    margin-left: .3em;
    margin-top: .4em;
    margin-bottom: .2em;
  }

  .textbox p {
    font-size: 1.6em;
    text-align: left;
    line-height: 1.1em;
    margin-left: .8em;
    margin-right: .8em;
    margin-bottom: 1em;
  }

  #section0{
    background-image: url(../img/main-miami-1.jpg);
    padding: 0% 0 0 0;
    background-position: center; 
  }

/* Start Campus Section */ 

  #slidea1{
    background-image: url(../img/um-1.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea2{
    background-image: url(../img/u-sculpture.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea3{
    background-image: url(../img/um-3.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea4{
    background-image: url(../img/um-4.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea5{
    background-image: url(../img/um-5.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea6{
    background-image: url(../img/um-6.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea7{
    background-image: url(../img/um-7.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea8{
    background-image: url(../img/um-8.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea9{
    background-image: url(../img/um-9.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea10{
    background-image: url(../img/um-10.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea11{
    background-image: url(../img/um-11.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea12{
    background-image: url(../img/um-12.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea13{
    background-image: url(../img/um-13.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea14{
    background-image: url(../img/um-14.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea15{
    background-image: url(../img/um-15.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea16{
    background-image: url(../img/um-16.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea17{
    background-image: url(../img/um-17.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea18{
    background-image: url(../img/um-18.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea19{
    background-image: url(../img/um-19.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea20{
    background-image: url(../img/um-20.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea21{
    background-image: url(../img/um-21.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea22{
    background-image: url(../img/um-22.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea23{
    background-image: url(../img/um-23.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea24{
    background-image: url(../img/um-24.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea25{
    background-image: url(../img/um-25.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

/* End Campus Section */ 

/* Law School Section*/

  #slideb1{
    background-image: url(../img/campus-1.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }
  #slideb2{
    background-image: url(../img/campus-2.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb3{
    background-image: url(../img/campus-3.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }
  #slideb4{
    background-image: url(../img/campus-4.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb5{
    background-image: url(../img/campus-5.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }
  #slideb6{
    background-image: url(../img/campus-6.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb7{
    background-image: url(../img/campus-7.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }
  #slideb8{
    background-image: url(../img/campus-8.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }
  #slideb9{
    background-image: url(../img/campus-9.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }
  
  #slideb10{
    background-image: url(../img/campus-clinton.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb11{
    background-image: url(../img/campus-10.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb12{
    background-image: url(../img/campus-env.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb13{
    background-image: url(../img/campus-11.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb14{
    background-image: url(../img/campus-health.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb15{
    background-image: url(../img/campus-12.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }
  #slideb16{
    background-image: url(../img/campus-13.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }
  #slideb17{
    background-image: url(../img/campus-14.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }
  #slideb18{
    background-image: url(../img/campus-15.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb19{
    background-image: url(../img/campus-19.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

/*End law school section*/

/* Start Neighborhood Section*/

  #slidec1{
    background-image: url(../img/neighborhood-1.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }
  #slidec2{
    background-image: url(../img/neighborhood-2.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec3{
    background-image: url(../img/neighborhood-3.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }
  #slidec4{
    background-image: url(../img/neighborhood-4.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec5{
    background-image: url(../img/neighborhood-5.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec6{
    background-image: url(../img/neighborhood-20.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec7{
    background-image: url(../img/neighborhood-6.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec8{
    background-image: url(../img/neighborhood-7.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }
  #slidec9{
    background-image: url(../img/neighborhood-8.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }
  #slidec10{
    background-image: url(../img/neighborhood-9.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }
  #slidec11{
    background-image: url(../img/neighborhood-10.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }
  #slidec12{
    background-image: url(../img/neighborhood-11.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }
  #slidec13{
    background-image: url(../img/neighborhood-12.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }
  #slidec14{
    background-image: url(../img/neighborhood-13.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }
  #slidec15{
    background-image: url(../img/neighborhood-14.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }
  #slidec16{
    background-image: url(../img/neighborhood-15.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec17{
    background-image: url(../img/neighborhood-16.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec18{
    background-image: url(../img/neighborhood-17.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec19{
    background-image: url(../img/neighborhood-18.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec20{
    background-image: url(../img/neighborhood-19.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }


/*End Neighborhood section*/

/* Start South Florida Section */

  #slided1{
    background-image: url(../img/sfl-1.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided2{
    background-image: url(../img/sfl-2.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided3{
    background-image: url(../img/sfl-3.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided4{
    background-image: url(../img/sfl-4.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided5{
    background-image: url(../img/sfl-5.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided6{
    background-image: url(../img/sfl-6.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided7{
    background-image: url(../img/sfl-7.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided8{
    background-image: url(../img/sfl-8.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided9{
    background-image: url(../img/sfl-9.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided10{
    background-image: url(../img/sfl-10.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided11{
    background-image: url(../img/sfl-11.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided12{
    background-image: url(../img/sfl-12.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided13{
    background-image: url(../img/sfl-13.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided14{
    background-image: url(../img/sfl-14.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided15{
    background-image: url(../img/sfl-15.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided16{
    background-image: url(../img/sfl-16.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided17{
    background-image: url(../img/sfl-17.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided18{
    background-image: url(../img/sfl-18.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided19{
    background-image: url(../img/sfl-19.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

/* End South Florida Section */

}


/*Desktop Media Queries*/

@media screen and (min-width: 1200px) and (min-device-width: 1200px) {

  .mobile-container {
    display: none;
  }

  .desktop-container {
    display: flex;
  }

  .textbox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: rgba(53,53,53,0.9);
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    align-self: flex-end;
    align-items: flex-end;
    margin-left: 45%;
    margin-right: 10%;
    margin-top: 0%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    max-height: 80%;
  }

  .textbox.left {
    margin-left: 10%;
    margin-right: 50%;
  }


  #footer{
    position:fixed;
    height: 50px;
    display:block;
    width: 100%;
    background: -webkit-linear-gradient(90deg, #135e4a 10%, #1d815b 90%,); /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #135e4a 10%, #1d815b 90%); /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #135e4a 10%, #1d815b 90%); /* IE10 */
    background: -o-linear-gradient(90deg, #135e4a 10%, #1d815b 90%); /* Opera 11.10+ */
    background: linear-gradient(90deg, #135e4a 10%, #1d815b 90%); /* W3C */
    z-index:9;
    text-align:center;
    color: #fff;
    padding: 10px 0 0 0;
    bottom:0px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-bottom: 40px;
    padding-top: 40px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center; 
  }

  .nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding-right: 50px;
  }

  .nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    padding-right: 80px;
    margin: 0;    
  }

  .nav li {
    display: inline;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    border: 1px solid #fff;
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
  }

  .nav a{
    color:#fff;
  }

  .nav li:hover{
      background-color: #f47321;
  }

  .logo {
    position: absolute;
    top: 20%;
    left: 82%;
    margin-top: 0px;
  }

  .slicknav_menu {
    display:none;
  }

  #menu li.active{
  background: rgb(243,115,33);
  color: #fff;
}

  .textbox h1 {
    font-size: 3.7em;
    text-align: left;
    line-height: 1.1em;
    margin-left: .3em;
    margin-top: .4em;
    margin-bottom: .2em;
  }

  .textbox p {
    font-size: 1.7em;
    text-align: left;
    line-height: 1.4em;
    margin-left: .8em;
    margin-right: .8em;
    margin-bottom: 1em;
  }

    .fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 35px 35px 35px 0;
    border-color: transparent #fff transparent transparent;
    }
  .fp-controlArrow.fp-next {
      right: 15px;
      border-width: 35px 0 35px 35px;
      border-color: transparent transparent transparent #fff;
  }

  #section0{
    background-image: url("../img/main-miami-1.jpg");
    padding: 0% 0 0 0;
    background-position: center;
  }

/*CAMPUS START DESKTOP SIZE PICTURES*/ 

  #slidea1{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea1{
    background-image: url("../img/um-1.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea2{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea2.active{
    background-image: url("../img/u-sculpture.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea3{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }


  #slidea3.active{
    background-image: url("../img/um-3.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea4{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea4.active{
    background-image: url(../img/um-4.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea5{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea5.active{
    background-image: url(../img/um-5.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea6{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea6.active{
    background-image: url(../img/um-6.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea7{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea7.active{
    background-image: url(../img/um-7.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea8{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea8.active{
    background-image: url(../img/um-8.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea9{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea9.active{
    background-image: url(../img/um-9.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea10{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea10.active{
    background-image: url(../img/um-10.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea11{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea11.active{
    background-image: url(../img/um-11.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea12{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea12.active{
    background-image: url(../img/um-12.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea13{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea13.active{
    background-image: url(../img/um-13.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea14{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea14.active{
    background-image: url(../img/um-14.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea15{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea15.active{
    background-image: url(../img/um-15.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea16{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea16.active{
    background-image: url(../img/um-16.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea17{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea17.active{
    background-image: url(../img/um-17.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea18{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea18.active{
    background-image: url(../img/um-18.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea19{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea19.active{
    background-image: url(../img/um-19.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea20{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea20.active{
    background-image: url(../img/um-20.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea21{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea21.active{
    background-image: url(../img/um-21.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea22{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea22.active{
    background-image: url(../img/um-22.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea23{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea23.active{
    background-image: url(../img/um-23.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea24{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea24.active{
    background-image: url(../img/um-24.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slidea25{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidea25.active{
    background-image: url(../img/um-25.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

/*CAMPUS END DESKTOP SIZE PICTURES*/ 

/* Law School Section*/

  #slideb1{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slideb1.active{
    background-image: url(../img/campus-1.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb2{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slideb2.active{
    background-image: url(../img/campus-2.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb3{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slideb3.active{
    background-image: url(../img/campus-3.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb4{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slideb4.active{
    background-image: url(../img/campus-4.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb5{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slideb5.active{
    background-image: url(../img/campus-5.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb6{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slideb6.active{
    background-image: url(../img/campus-6.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb7{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slideb7.active{
    background-image: url(../img/campus-7.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb8{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slideb8.active{
    background-image: url(../img/campus-8.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb9{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slideb9.active{
    background-image: url(../img/campus-9.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb10{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slideb10.active{
    background-image: url(../img/campus-clinton.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb11{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slideb11.active{
    background-image: url(../img/campus-10.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb12{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slideb12.active{
    background-image: url(../img/campus-env.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb13{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slideb13.active{
    background-image: url(../img/campus-11.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb14{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slideb14.active{
    background-image: url(../img/campus-health.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb15{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slideb15.active{
    background-image: url(../img/campus-12.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb16{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slideb16.active{
    background-image: url(../img/campus-13.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb17{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slideb17.active{
    background-image: url(../img/campus-14.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb18{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slideb18.active{
    background-image: url(../img/campus-15.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slideb19{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slideb19.active{
    background-image: url(../img/campus-19.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

/*End law school section*/

/* Start Neighborhood Section*/

  #slidec1{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec1.active{
    background-image: url(../img/neighborhood-1.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec2{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec2.active{
    background-image: url(../img/neighborhood-2.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec3{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec3.active{
    background-image: url(../img/neighborhood-3.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec4{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec4.active{
    background-image: url(../img/neighborhood-4.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec5{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec5.active{
    background-image: url(../img/neighborhood-5.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec6{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec6.active{
    background-image: url(../img/neighborhood-20.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec7{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec7.active{
    background-image: url(../img/neighborhood-6.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec8{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec8.active{
    background-image: url(../img/neighborhood-7.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec9{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec9.active{
    background-image: url(../img/neighborhood-8.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec10{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec10.active{
    background-image: url(../img/neighborhood-9.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec11{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec11.active{
    background-image: url(../img/neighborhood-10.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec12{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec12.active{
    background-image: url(../img/neighborhood-11.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec13{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec13.active{
    background-image: url(../img/neighborhood-12.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec14{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec14.active{
    background-image: url(../img/neighborhood-13.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec15{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec15.active{
    background-image: url(../img/neighborhood-14.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec16{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec16.active{
    background-image: url(../img/neighborhood-15.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec17{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec17.active{
    background-image: url(../img/neighborhood-16.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec18{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec18.active{
    background-image: url(../img/neighborhood-17.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec19{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec19.active{
    background-image: url(../img/neighborhood-18.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }

  #slidec20{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slidec20.active{
    background-image: url(../img/neighborhood-19.jpg);
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center; 
  }


/*End Neighborhood section*/

/*SOUTH FLORIDA START DESKTOP SIZE PICTURES*/

  #slided1{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slided1.active{
    background-image: url("../img/sfl-1.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided2{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slided2.active{
    background-image: url("../img/sfl-2.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided3{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slided3.active{
    background-image: url("../img/sfl-3.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided4{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slided4.active{
    background-image: url("../img/sfl-4.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided5{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slided5.active{
    background-image: url("../img/sfl-5.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided6{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slided6.active{
    background-image: url("../img/sfl-6.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided7{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slided7.active{
    background-image: url("../img/sfl-7.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided8{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slided8.active{
    background-image: url("../img/sfl-8.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided9{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slided9.active{
    background-image: url("../img/sfl-9.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided10{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slided10.active{
    background-image: url("../img/sfl-10.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided11{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slided11.active{
    background-image: url("../img/sfl-11.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided12{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slided12.active{
    background-image: url("../img/sfl-12.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided13{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slided13.active{
    background-image: url("../img/sfl-13.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided14{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slided14.active{
    background-image: url("../img/sfl-14.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided15{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slided15.active{
    background-image: url("../img/sfl-15.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided16{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slided16.active{
    background-image: url("../img/sfl-16.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided17{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slided17.active{
    background-image: url("../img/sfl-17.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided18{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slided18.active{
    background-image: url("../img/sfl-18.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

  #slided19{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #slided19.active{
    background-image: url("../img/sfl-19.jpg");
    padding: 0% 0 0 0;
    background-size: cover;
    background-position: center;
  }

}







